<html>
<head><title>ProductiveNITK - Home</title>
<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
    <style type="text/css">
        .card{
            height: 100px;
            width: 400px;
        }
    </style>
</head>

<body>
<div class="jumbotron">
<center>
  <h1 class="display-3">
	Welcome, Ayush !
  </h1>  
  <p class="lead">Have a lovely day !</p>
    <a href="https://www.accuweather.com/en/in/mangalore/188760/weather-forecast/188760" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
-->
</a><div id="awcc1539016884482" class="aw-widget-current"  data-locationkey="188760" data-unit="c" data-language="en-us" data-useip="false" data-uid="awcc1539016884482"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
</center>
</div>
<center>
<div class="container" style: "margin-left: 50%;">
	<div class="card bg-light mb-3" style="max-width: 30%; display: inline-block;">
  		<div class="card-body">
    		<h4 class="card-title">NOTES</h4>
    		<p class="card-text">Click to see your saved notes.</p>
  		</div>
	</div>
	<div class="card bg-light mb-3" style="max-width: 30%; display: inline-block;">
  		<div class="card-body">
    		<h4 class="card-title">Reminders</h4>
    		<p class="card-text">Anything you want us to remember?</p>
  		</div>
	</div>
</div>	
<div class="container" style: "margin-left: 50%;">
	<div class="card bg-light mb-3" style="max-width: 30%; display: inline-block;">
  		<div class="card-body">
    		<h4 class="card-title">Wolfram Engine</h4>
    		<p class="card-text">Ask me anything!</p>
  		</div>
	</div>
	<div class="card bg-light mb-3" style="max-width: 30%; display: inline-block;">
  		<div class="card-body">
    		<h4 class="card-title">Facilities</h4>
    		<p class="card-text">Check facility timings here.</p>
  		</div>
	</div>
</div>	
<div class="container" style: "margin-left: 50%;">
	<div class="card bg-light mb-3" style="max-width: 30%; display: inline-block;">
  		<div class="card-body">
    		<h4 class="card-title">Card 1</h4>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  		</div>
	</div>
	<div class="card bg-light mb-3" style="max-width: 30%; display: inline-block;">
  		<div class="card-body">
    		<h4 class="card-title">Card 2</h4>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  		</div>
	</div>
</div>	
</center>
</body>
</html>
