<html>
<head><title>ProductiveNITK - Facility timings</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>
	<div class="jumbotron">
	<h1 class="display-3"><center> Facility Timings</center> </h1>

</div>
<div class="container" style:"margin-left: 50%;">
	<ul class="nav nav-tabs">
  		<li class="nav-item">
    	<a class="nav-link active show" data-toggle="tab" href="#amul">Amul</a>
  		</li>
	    <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#nandini">Nandini</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#hcc">Health Care Center</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#fnh">Fresh and Honest</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#laundry">Laundry</a>
	  </li>
	</ul>
	<div id="myTabContent" class="tab-content">
	  <div class="tab-pane slide-left active" id="amul">
	    <p> <br>Timings: 8 AM to 8 PM <br>Monday to Sunday</p>
	  </div>
	  <div class="tab-pane slide left" id="nandini">
	    <p> <br>Timings: 10 AM to 11 PM <br>Monday to Sunday</p>
	  </div>
	  <div class="tab-pane slide-left" id="hcc">
	    <p> <br>Timings: 8 AM to 6 PM <br>Monday to Saturday</p>
	  </div>
	  <div class="tab-pane slide-left " id="fnh">
	    <p> <br>Timings: 10 AM to 9:30 PM <br>Monday to Sunday</p>
	  </div>
	  <div class="tab-pane slide-left" id="laundry">
	    <p> <br>Timings: 9 AM to 6:30 PM <br>Monday to Friday</p>
	  </div>

</div>
</body>
</html>
